<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <!-- SPA fallback: rewrite all non-file/non-folder requests to index.html -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url="^(?!.*\.[\w]{2,5}$).*$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <httpErrors existingResponse="PassThrough" errorMode="Detailed" />
  </system.webServer>
</configuration>
